
# Avaliação Teórica — Fundamentos de Pandas (Módulo 3)

**Data:** 27/10/2025

Esta avaliação contém **10 questões** de nível introdutório sobre **Pandas** e **análise de dados**.
O foco é demonstrar domínio das operações básicas de **importação**, **inspeção** e **manipulação simples** de DataFrames.

**Instruções gerais:**
- Responda **apenas** nas células de código logo abaixo de cada enunciado.
- Execute a célula **Setup** antes de começar.
- Utilize o arquivo CSV fornecido: **`avaliacao_empresa.csv`** (na mesma pasta deste notebook).
- Nome do arquivo de entrega: `avaliacao_pandas_<SEU_NOME>.ipynb`.

**Identificação (preencher):**
- Aluno(a): `____________________________________`
- Turma: `__________________________`
- Professor(a): `__________________________`

In [ ]:

# Setup (execute esta célula primeiro — não alterar)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 30)
pd.set_option("display.max_columns", 30)
print("Ambiente pronto.")

### Questão 1) Importe o arquivo CSV e crie um DataFrame chamado `df`.

In [ ]:
# Insira o código que importa o .csv e o transforma em DataFrame (há um método que faz as duas coisas)
# Dica: use pd.read_csv(...)
# CAMINHO = "avaliacao_empresa.csv"
# df = ...

### Questão 2) Mostre os **5 primeiros** elementos do DataFrame.

In [ ]:
# Escreva o comando para visualizar as 5 primeiras linhas do DataFrame
# ...

### Questão 3) Exiba as **informações gerais** do DataFrame (tipos de dados e nulos).

In [ ]:
# Use o método apropriado para ver tipos de dados e contagem de nulos
# ...

### Questão 4) Mostre o **formato (linhas, colunas)** e a **lista de colunas** do DataFrame.

In [ ]:
# Mostre df.shape e df.columns
# ...

### Questão 5) Exiba as **estatísticas descritivas** das colunas numéricas (média, min, max, etc.).

In [ ]:
# Utilize o método para estatísticas descritivas
# ...

### Questão 6) Selecione apenas as colunas `nome` e `departamento` e mostre as **5 primeiras** linhas.

In [ ]:
# Selecione as colunas solicitadas e mostre 5 primeiras linhas
# ...

### Questão 7) Filtre os registros do **turno 'Noite'** e **conte** quantos registros existem.

In [ ]:
# Filtre df['turno'] == 'Noite' e conte as linhas resultantes
# ...

### Questão 8) Converta a coluna `data` para **datetime** (se necessário) e crie a coluna `mes` no formato `YYYY-MM`. Mostre as **5 primeiras** linhas de `df[['data','mes']]`.

In [ ]:
# Converta df['data'] para datetime e crie df['mes']
# ...

### Questão 9) Agrupe por `mes` e calcule a **soma do faturamento**. Mostre os **3 meses** com maior faturamento.

In [ ]:
# Crie um groupby por 'mes' somando 'faturamento' e liste o top 3
# ...

### Questão 10) Calcule a **média de salário por departamento** e mostre em **ordem decrescente**.

In [ ]:
# Use groupby em 'departamento' e agregue 'salario' com média; ordene decrescente
# ...


---
## Extra (não avaliativo) — Demonstração de visualização

O gráfico abaixo mostra a **distribuição do faturamento por mês e por departamento** (barras empilhadas).  
**Ação do aluno:** **apenas execute** a célula para observar o resultado e refletir sobre variações por mês e por área.

In [ ]:

# ▶️ Execute esta célula (não alterar o código)
# Pré-requisitos: df já carregado; coluna 'data' convertida; coluna 'mes' criada (Questões 1 e 8).
df['data'] = pd.to_datetime(df['data'], errors='coerce')
df['mes'] = df['data'].dt.to_period('M').astype(str)

fat_mes_dep = df.groupby(['mes','departamento'], as_index=False)['faturamento'].sum()
pivot = fat_mes_dep.pivot(index='mes', columns='departamento', values='faturamento').fillna(0)

ax = pivot.plot(kind='bar', stacked=True, figsize=(10,6))
ax.set_title("Faturamento por Mês e Departamento (barras empilhadas)")
ax.set_xlabel("Mês (YYYY-MM)")
ax.set_ylabel("Faturamento (R$)")
import matplotlib.pyplot as plt
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()