# Gabarito — Avaliação Teórica de Pandas (Módulo 3)
**Data:** 27/10/2025
**Observação:** Versão resolvida (código sem comentários).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)

### Questão 1) Importe o arquivo CSV e crie um DataFrame chamado `df`.

In [ ]:
df = pd.read_csv('avaliacao_empresa.csv')

### Questão 2) Mostre os **5 primeiros** elementos do DataFrame.

In [ ]:
df.head()

### Questão 3) Exiba as **informações gerais** do DataFrame (tipos de dados e nulos).

In [ ]:
df.info()

### Questão 4) Mostre o **formato (linhas, colunas)** e a **lista de colunas** do DataFrame.

In [ ]:
print(df.shape)
df.columns

### Questão 5) Exiba as **estatísticas descritivas** das colunas numéricas (média, min, max, etc.).

In [ ]:
df.describe(numeric_only=True)

### Questão 6) Selecione apenas as colunas `nome` e `departamento` e mostre as **5 primeiras** linhas.

In [ ]:
df[['nome','departamento']].head()

### Questão 7) Filtre os registros do **turno 'Noite'** e **conte** quantos registros existem.

In [ ]:
df[df['turno']=='Noite'].shape[0]

### Questão 8) Converta a coluna `data` para **datetime** (se necessário) e crie a coluna `mes` no formato `YYYY-MM`. Mostre as **5 primeiras** linhas de `df[['data','mes']]`.

In [ ]:
df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
df[['data','mes']].head()

### Questão 9) Agrupe por `mes` e calcule a **soma do faturamento**. Mostre os **3 meses** com maior faturamento.

In [ ]:
fat=df.groupby('mes',as_index=False)['faturamento'].sum()
fat.sort_values('faturamento',ascending=False).head(3)

### Questão 10) Calcule a **média de salário por departamento** e mostre em **ordem decrescente**.

In [ ]:
df.groupby('departamento',as_index=False)['salario'].mean().sort_values('salario',ascending=False)

---
## Extra (não avaliativo) — Demonstração de visualização
Barras empilhadas de faturamento por mês e por departamento.

In [ ]:
df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
fat_mes_dep=df.groupby(['mes','departamento'],as_index=False)['faturamento'].sum()
pivot=fat_mes_dep.pivot(index='mes',columns='departamento',values='faturamento').fillna(0)
ax=pivot.plot(kind='bar',stacked=True,figsize=(10,6))
ax.set_title('Faturamento por Mês e Departamento (barras empilhadas)')
ax.set_xlabel('Mês (YYYY-MM)')
ax.set_ylabel('Faturamento (R$)')
import matplotlib.pyplot as plt
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()